{% extends "layouts/header.html"%}

{% load crispy_forms_filters %}
{% load bootstrap_icons %}

{% block content %}

    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/player.css' %}">

    <title>Reproductor</title>

</head>
<body>
    <div class="container2"width="700" height="315">
        <div class="row">
            <div class="col">
                <form method="POST" class="url-form" >

                    {% csrf_token %}
                    <select name="url" class="form-select" id="url-video">
                        <option value="">Video 1</option>
                        <option value="">Video 2</option>
                        <option value="">Video 3</option>
                        <option value="">Video 4</option>
                    </select>

                    <button type="submit" class="btn btn-primary btn-apply-url">{% bs_icon 'check' color='white'%}</button>
                </form>
            </div>
        </div>

    </div>
    <div class="container" width="700" height="315">
        <div class="video-info">
            <h1>{{ video_name }}</h1>
        </div>
        <div class="video-container" width="700" height="315">
            <div class = "video-layout" id="video" onclick="clickPosition()">
                <video id="video-source" src="{% static 'media/video.mp4' %}">
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary _button" onclick="playPause()">{% bs_icon 'play-fill' color='white'%}</button>
            </div>
            <div class="col">
                <p color='white' class="fps-message">Frames Per Second (FPS)</p>
            </div>
            <div class="col">
                <form method="POST" id = "fps-dropdown-form">

                    {% csrf_token %}

                    <select name="language" class="form-select" id="fps_dropdown">
                        <option value="two">30</option>
                        <option value="three">60</option>
                        <option value="five">120</option>
                        <option value="seven">144</option>
                    </select>

                    <button type="submit" class="btn btn-primary btn-apply-fps"> Apply </button>
                </form>
            </div>
        </div>
        
        <div class="row" padding='10px'>
            <br><br><br>
            <div class="col">
                <button type="button" class="btn btn-primary _button">{% bs_icon 'skip-backward-fill' color='white'%}</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary _button">{% bs_icon 'skip-forward-fill' color='white'%}</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger _button" onclick="stop()" >{% bs_icon 'arrow-counterclockwise' %}</button>
            </div>
        </div>

        <p id="coordinates">X: 0 , Y: 0 </p>
        
    </div>


    

    <script src="{% static 'scripts/player.js' %}"></script>
    
</body>
</html>

{% endblock %}